* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ff_poppins {
  font-family: 'Poppins', sans-serif;
}

.fs_16 {
  font-size: 16px;
}

.fw_500 {
  font-weight: 500;
}

.clr_red {
  color: #FF0000;
}

.bg_red {
  background-color: #FF0000;
}

.clr_green {
  color: #9ACD32;
}

.bg_green {
  background-color: #9ACD32;
}

.bg_box {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.10);
}

.bottom_box {
  background: #242424;
}